name: Deploy to Server

on:
  push:
    branches:
      - main
      - staging
      - development

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 5829
          script: |
            if [[ "${{ github.ref_name }}" == "main" ]]; then
              cd /var/www/html/app
              git pull origin main
            elif [[ "${{ github.ref_name }}" == "staging" ]]; then
              cd /var/www/html/app-staging
              git pull origin staging
            elif [[ "${{ github.ref_name }}" == "development" ]]; then
              cd /var/www/html/app-development
              git pull origin development
            fi
